// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$b: #000;
$w: #fff;
$brand-main: #27ae60;
$dark-gray: #58595b;
$main-color: #808285;
$alternate-color: #a7a9ac;
$dark-color: #0b1e2d;
$light-color: #e6e7e8;
$lighter-color: #f8f8f8;
$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$alternate-font: 'Times New Roman', Times, Georgia, serif;

// Units
$p: 20px;
$f: 100%;
$bp: 850px;
$spacing: (80/1000) * 1em;
$speed: .5s;
$max-width: 1286px;