.store.store__form--shrink-fw(map-lazy-load="{{store.api}}")
	form.store__form.store__form--shrink.store__form--gray.store__form--grow-md(ng-submit="store.onSubmit()")
		input.store__input(ng-model="store.address" places-auto-complete on-place-changed="store.placeChanged()" ng-change="store.onInputChange()")
		.store__select(ng-click="store.isSelected=!store.isSelected" click-outside="store.isSelected=false")
			select(ng-model="store.store" ng-options="opt.id as opt.name for opt in store.stores")
			span.store__value(ng-bind-html="(store.store ? store.selected : store.any)")
			i.icon-select
			ul.store__options(ng-class="{'store__options--visible':store.isSelected}")
				li.store__option(ng-bind-html="store.any" ng-click="store.store = false;store.isSelected=false" ng-class="{'store__option--selected':!sstore.store}")
				li.store__option(ng-bind-html="s.name" ng-click="store.store = s.id; store.selected = s.name;store.isSelected=false" ng-class="{'store__option--selected':store.store==s.id}" ng-repeat="s in store.stores")
		button.store__send
			span(ng-bind-html="store.buttonString")
	.map.map--grid.map--shrink.map--grow-lg
		.map__cell.map__cell--s6
			ul.map__list.map__list--shrink-right-only(ng-if="store.items")
				li.map__item.map__item--shrink(ng-repeat="item in store.items" ng-class="$index == $first ? 'map__item--grow-md-bottom' : 'map__item--grow-md'")
					.map__category(ng-bind-html="item.category" ng-if="item.category")
					h3.map__title.map__title--small.map__title--lighter(ng-bind-html="item.title" ng-click="store.infoWindow(item.id, item.lat, item.lng)")
					.map__content
						p {{item.address}} {{item.city}}, {{item.country}}				
						p(ng-bind-html="item.email" ng-if="item.email")
						p(ng-bind-html="item.phone" ng-if="item.phone")
						p(ng-bind-html="item.fax" ng-if="item.fax")
			.map__empty(ng-bind-html="store.empty" ng-if="store.items.length < 1")
		.map__cell.map__cell--s6
			ng-map(default-style="false" zoom="17" center="{{store.start}}" styles="{{store.styles}}" disable-default-u-i="true" scrollwheel="false")
				custom-marker(position="{{marker.lat}},{{marker.lng}}" ng-repeat="marker in store.items" ng-if="store.items")
					.map__marker(ng-class="{'map__marker--active':store.isStore==marker.id}")
						.icon-close(ng-click="store.isStore=false")
						h4.map__title(ng-bind-html="marker.title")
						p {{marker.address}} {{marker.cap}} {{marker.city}}, {{marker.country}}
						p {{marker.phone}}#[br/]{{marker.email}}
						i.icon-select
					i.icon-pittogramma(ng-click="store.infoWindow(marker.id, marker.lat, marker.lng)" ng-class="{'icon-pittogramma--active':store.isStore==marker.id}")
				custom-control#zoom(position="BOTTOM_RIGHT" index="1")
					span.map__zoom.map__zoom--in(ng-click="store.zoom(true)")
					span.map__zoom.map__zoom--out(ng-click="store.zoom(false)")