.colors {
	@include grow('md');
	&__header {
		@include grow('md', 'bottom');
		@include grow('lg', 'top');
	}
	&__list {
		justify-content: center;
		@include grow('small', 'bottom');
	}
	&__color {
		width: $p*4;
		height: $p*4;
		margin: 0 auto $p;
		border-radius: $p*4;
		@include cover;
	}
	&__name {
		font-size: 14px;
	}
	&__item {
		text-align: center;
		@include grow('small', 'bottom');
	}
}