
%single {
	.single & {
		h1, h2, h3, h4, h5, h6 {
			font-weight: 200;
			color: $dark-gray;
			line-height: percentage(27px/18px);
		}
		h1 {
			font-size: em($p*2);
			padding-top: 1em;
		}
		h2 {
			font-size: em($p*1.5);
			padding-top: em($p*2, $p*1.5);
		}
		h3 {
			font-size: em($p);
			padding-top: .5em;
		}
		h4 {
			font-size: em(18px);
			padding-top: em($p*2, 18px);
		}
		h5 {
			font-size: 1em;
			padding-top: em($p*2);
		}
		h6 {
			font-size: em(14px);
			padding-top: em($p*2, 14px);
		}
		a {
			color: $dark-color;
			&:hover {
				color: $dark-gray;
			}
		}
		strong {
			color: $dark-gray;
		}
		blockquote {
			font-family: $alternate-font;
			font-size: em(36px);
			line-height: percentage(42px/36px);
			margin: 0;
			padding: em($p*2, 36px) 0;
			p {
				padding: em($p/2, 36px) 0;
			}
			cite {
				font-family: $main-font;
				font-style: normal;
				font-weight: 200;
				font-size: em($p, 36px);
			}
		}
		cite {
			display: block;
			font-style: normal;
			font-weight: 200;
			font-size: em($p, 18px);
		}
		ul, ol {
			padding: {
				top: em($p);
				bottom: em($p);
			}
			li {
				display: flex;
				align-items: flex-start;
				font-size: em(18px);
				flex-wrap: wrap;
				line-height: percentage(27px/18px);
				> ul, > ol {
					width: $f;
					flex: 0 0 auto;
					padding: em($p, 18px) 0 em($p*2, 18px) em($p, 18px);
					li {
						font-size: 1em;
					}
				}
			}
		}
		ul {
			li {
				&:before {
					position: relative;
					border-radius: $p/5;
					width: $p/5;
					height: $p/5;
					background-color: $dark-color;
					display: inline-block;
					top: 6px;
					margin-right: em(16px, 18px);
					content: '';
				}
			}
		}
		ol {
			counter-reset: section;
			li {
				counter-increment: section;
				&:before {
					content: counter(section) ".";
					display: inline-block;
					padding-right: em($p*1.5, 18px);
					color: $dark-color;
					font-weight: 300;
				}
			}
		}
		table {
			border-collapse: collapse;
			tr {
				border-top: 1px solid $lighter-color;
				border-bottom: 1px solid $lighter-color;
			}
			td {
				padding: em($p/2) em($p/2) em($p/2) 0;
			}
		}
	}
}



.divider {
	border: 0;
	margin: 0;
	height: em($p*4);
	&--double {
		display: none;
		height: em($p*8);
		@include breakpoint() {
			display: block;
		}
	}
}
.container {
	@include grow();
	@include grow('lg', 'bottom');
	&__content {
		@extend %single;
		@include grow('md', 'top');
		position: relative;
		> p {
			font-size: em(18px);
			padding-top: em($p*2, 18px);
			.desktop [ng-sm] & {
				opacity: 0;
				transition: $speed*1.5 opacity;
			}
			&:nth-of-type(1) {
				padding-top: 0;
			}
		}
		&--alternate {
			> p {
				font-size: em(27px);
				padding-top: 0;
				.container--bg & {
					color: $w;
				}
			}
		}
		.container--bg & {
			&:before, &:after {
				width: em(220px);
				display: block;
				height: 7px;
				margin: {
					left: auto;
					right: auto;
				}
				border: {
					top: 1px solid $w;
					bottom: 1px solid $w;
				}
				@include breakpoint() {
					.desktop & {
						content: '';
					}
				}
			}
			&:before {
				margin-bottom: em($p*2);
				transform: perspective(10px) rotateX(7deg);
			}
			&:after {
				margin-top: em($p*2);
				transform: perspective(10px) rotateX(-7deg);
			}
		}
		.desktop .container--bg & {
			&:before, &:after {
				width: 0;
				transition: $speed*1.5 width;
			}
		}
		.desktop .container--active & {
			> p {
				opacity: 1;
			}
			&:before, &:after {
				width: em(220px);
			}
		}
	}
	&__title {
		text-align: center;
		position: relative;
		color: $alternate-color;
		.container--post & {
			max-width: 685px;
			margin: 0 auto;
			text-align: left;
		}
		.desktop [ng-sm] & {
			opacity: 0;
			transition: $speed*1.5 opacity;
		}
		.desktop [ng-sm].container--active & {
			opacity: 1;
		}
	}
	&__sign {
		text-align: center;
		font-size: em($p);
		padding-top: 2em;
		color: $alternate-color;
		position: relative;
		.container--bg & {
			color: $lighter-color;
		}
		.desktop [ng-sm] & {
			opacity: 0;
			transition: $speed*1.5 opacity;
		}
		.desktop [ng-sm].container--active & {
			opacity: 1;
		}
	}
	&--bg {
		@include cover;
		position: relative;
		color: $w;
		&:before {
			content: '';
			@include full;
			background: $dark-color;
			opacity: .25;
		}
		padding-bottom: em($p*2);
		padding-top: em($p*2);
		@include breakpoint(640px) {
			padding-bottom: em($p*4);
			padding-top: em($p*4);
		}
		@include breakpoint() {
			padding-bottom: em($p*8);
			padding-top: em($p*8);
		}
	}
	&__gallery {
		position: relative;
		@include grow('md', 'bottom');
		@include grow('lg', 'top');
		@include breakpoint(685px) {
			width: 100vw;
			left: calc(((100vw - 100%) / 2)*-1)
		}
		.container--post & {
			max-width: em(685px + 160px);
			@include breakpoint(685px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
				left: 0;
			}
		}
	}
	&--post {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__updated {
		display: block;
		text-align: center;
		padding-bottom: em($p);
		@include breakpoint(685px + 160px) {
			position: sticky;
			text-align: left;
			top: em(100px);
			.admin-bar.logged-in & {
				top: em(132px);
			}
		}
	}
	&__share {
		text-align: center;
		position: sticky;
		top: em(100px);
		text-align: center;
		width: 100%;
		.admin-bar.logged-in & {
			top: em(132px);
		}
		a {
			color: $alternate-color;
			font-size: 24px;
			&:hover {
				color: $dark-color;
			}
			@include breakpoint() {
				display: block;
				margin-bottom: $p;
			}
		}
		@include breakpoint(685px + 160px) {
			width: auto;
			left: auto !important;
            right: em($p*2) !important;
        }
		@include breakpoint($max-width) {
			left: auto !important;
            right: calc((100vw - #{$max-width}) / 2) !important;
        }
	}
	.is-to-next & {
		> * {
			transition: opacify $speed;
			opacity: 0 !important;
		}
	}
}