.divider {
	border: 0;
	margin: 0;
	height: em($p*4);
	&--double {
		height: em($p*8);
	}
}
.container {
	@include grow('lg');
	@include grow('lg', 'bottom');
	&__content {
		@include grow('md', 'top');
		position: relative;
		> p {
			font-size: em(18px);
			padding-top: em($p*2, 18px);
			.desktop [ng-sm] & {
				opacity: 0;
				transition: $speed*1.5 opacity;
			}
		}
		&--alternate {
			> p {
				font-size: em(27px);
				padding-top: 0;
				.container--bg & {
					color: $w;
				}
			}
		}
		.container--bg & {
			&:before, &:after {
				content: '';
				width: em(220px);
				display: block;
				height: 7px;
				margin: {
					left: auto;
					right: auto;
				}
				border: {
					top: 1px solid $w;
					bottom: 1px solid $w;
				}
			}
			&:before {
				margin-bottom: em($p*2);
				transform: perspective(10px) rotateX(7deg);
			}
			&:after {
				margin-top: em($p*2);
				transform: perspective(10px) rotateX(-7deg);
			}
		}
		.desktop .container--bg & {
			&:before, &:after {
				width: 0;
				transition: $speed*1.5 width;
			}
		}
		.desktop .container--active & {
			> p {
				opacity: 1;
			}
			&:before, &:after {
				width: em(220px);
			}
		}
	}
	&__title {
		text-align: center;
		position: relative;
		color: $alternate-color;
		.container--post & {
			max-width: 685px;
			margin: 0 auto;
			text-align: left;
		}
		.desktop [ng-sm] & {
			opacity: 0;
			transition: $speed*1.5 opacity;
		}
		.desktop [ng-sm].container--active & {
			opacity: 1;
		}
	}
	&__sign {
		text-align: center;
		font-size: em($p);
		padding-top: 2em;
		color: $alternate-color;
		position: relative;
		.desktop [ng-sm] & {
			opacity: 0;
			transition: $speed*1.5 opacity;
		}
		.desktop [ng-sm].container--active & {
			opacity: 1;
		}
	}
	&--bg {
		@include cover;
		position: relative;
		color: $w;
		&:before {
			content: '';
			@include full;
			background: $dark-color;
			opacity: .25;
		}
		@include breakpoint() {
			padding-bottom: em($p*8);
			padding-top: em($p*8);
		}
	}
	&__gallery {
		position: relative;
		width: 100vw;
		@include grow('md', 'bottom');
		@include grow('lg', 'top');
		@include breakpoint(685px) {
			left: calc(((100vw - 100%) / 2)*-1)
		}
		.container--post & {
			width: em(685px + 160px);
			@include breakpoint(685px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
				left: em($p*-2);
			}
		}
	}
	&--post {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__updated {
		position: sticky;
		display: block;
		top: em(80px);
		.admin-bar.logged-in & {
			top: em(112px);
		}
	}
	&__share {
		text-align: center;
		position: sticky;
		top: em(80px);
		.admin-bar.logged-in & {
			top: em(112px);
		}
		a {
			color: $alternate-color;
			margin-bottom: $p;
			font-size: 24px;
			&:hover {
				color: $dark-color;
			}
			@include breakpoint() {
				display: block;
			}
		}
		@include breakpoint() {
			left: auto !important;
            right: em($p*2) !important;
        }
		@include breakpoint($max-width) {
			left: auto !important;
            right: calc((100vw - #{$max-width}) / 2) !important;
        }
	}
	.is-to-next & {
		> * {
			transition: opacify $speed;
			opacity: 0 !important;
		}
	}
}