#loading-bar {
	pointer-events: none;
	transition: $speed opacity;
	.is-transitioner & {
		display: none;
	}
	&.ng-enter, &.ng-leave.ng-leave-active {
		opacity: 0;
	}
	&.ng-leave, &.ng-enter.ng-enter-active {
		opacity: .75;
	}
	.bar {
		position: fixed;
		z-index: 10002;
		height: $p/5;
		width: $f;
		left: 0;
		top: 0;
		background-color: #f9faf3;
		box-shadow: 0 0 $p/2 transparentize(#f6f7ea, .05);
		transition: $speed width;
		.admin-bar.logged-in & {
			margin-top: 32px;
		}
	}
	.peg {
		background-color: #f6f7ea;
		box-shadow: 0 0 $p/4 #f6f7ea;
		position: absolute;
		top: -1px;
		right: ($p/10)*-2;
		border-radius: $f;
		width: $p/2;
		height: 6px;
	}
}