.projects {
	@include grow('lg');
	&__filters {
		justify-content: center;
		display: none;
		@include grow('md');
		@include breakpoint() {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__select {
		width: em(260px);
		margin: 0 em($p);
	}
	&__loader {
		&--middle {
			position: absolute;
			top: em($p*2);
			left: 0;
			width: $f;
			max-height: em($p*2);
			transition: $speed opacity, $speed visibility;
			@include breakpoint() {			
				top: em($p*4);
			}
			&-visible {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__cell {
		display: flex;
		@include grow();
		&:before {
			display: block;
			content: '';
			padding-top: percentage(410px/620px);
		}
		&.ng-animate {
			&.ng-enter {
				transform: translate3d(0, $p*2, 0);
				opacity: 0;
				visibility: hidden;
				&-active {
					transition: $speed opacity, $speed transform, $speed visibility;
					transition-delay: $speed;
					transform: translate3d(0, 0, 0);
					opacity: 1;
					visibility: visible;
				}	
			}
			&.ng-leave {
				transform: translate3d(0, 0, 0);
				opacity: 1;
				visibility: visible;
				&-active {
					transition: $speed opacity, $speed transform, $speed visibility;
					transform: translate3d(0, $p, 0);
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		&--found {
			position: absolute;
			top: auto;
			left: 0;
			width: $f !important;
			text-align: center;
			padding-top: 0;
			display: none;
			&:before {
				display: none;
			}
			&-visible {
				display: block;
			}
			span {
				font-size: em(22px);
				color: $dark-color;
			}
		}
	}
	&__title {
		line-height: percentage(27px/24px);
		position: relative;
		display: block;
		opacity: 0;
		transform: translate3d($p*-1, 0, 0);
		transition: {
			property: opacity, transform;
			duration: $speed;
		};
	}
	&__location {
		display: block;
		position: relative;
		transform: translate3d($p*-1, 0, 0);
		transition: {
			property: opacity, transform;
			duration: $speed;
		}
		opacity: 0;
	}	
	&__content {
		display: flex;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		width: $f;
		color: $w;
		position: relative;
		@include cover;
		padding: em($p*2);
		&:before, &[ng-lazy-img]:before {
			@include full;
			content: '';
			background-color: $b;
			opacity: 0;
			visibility: hidden;
			transition: opacity $speed, visibility $speed;
		}
		&[ng-lazy-img]:not(.lazy-loaded):before {
			background-color: $dark-color;
			opacity: 1;
			visibility: visible;
		}
		> * {
			width: $f;
			flex: 0 0 auto;
		}
		img {
			position: absolute;
			visibility: hidden;
			top: 0;
			left: 0;
		}
		&:hover, &[ng-lazy-img].lazy-loaded:hover {
			&:before {
				opacity: .8;
				visibility: visible;
			}
			.projects__title, .projects__location {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
		&:before, &:hover:before, &[ng-lazy-img].lazy-loaded:hover:before {
			.handheld & {
				opacity: .5 !important;
				visibility: visible !important;
			}
		}
		.projects__title, .projects__location {
			.handheld & {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
	}
	&__items {
		@include grow('lg');
		min-height: em($p*8);
		position: relative;
		.projects__cell {
			@include breakpoint() {
				&:nth-child(odd) {
					padding-right: em($p);
				}
				&:nth-child(even) {
					padding-left: em($p);
				}
			}
		}
	}
}