.search {
	width: $f;
	@include normalize_padding;
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	&__header {
		@include grow('md', 'top');
		@include grow('small', 'bottom');
		text-align: center;
		flex: 0 0 auto;
	}
	&__filters {
		justify-content: center;
		flex: 0 0 auto;
	}
	&__select {
		width: em(260px);
		margin: 0 em($p);
	}
	&__cell {
		@include grow('md');
		position: relative;
		display: block;
		overflow: hidden;
		@include breakpoint() {
			width: $f/5;
		}
		&--found {
			width: $f !important;
			text-align: center;
			span {
				font-size: em(22px);
				color: $dark-color;
			}
		}
		img {
			width: $f;
		}
		transform: translate3d(0, $p*2, 0);
		opacity: 0;
		transition: {
			property: transform, opacity;
			duration: $speed*2.25;
			timing-function: ceaser($easeOutBack);
		}
		.modal--visible & {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			@for $i from 1 through 20 {
				$delay: $speed*1.25 + (.1s * ($i - 1));
				&:nth-child(#{$i}) {
					transition-delay: $delay;
				}
			}
		}
		.modal--visible .search__items--changing & {
			transition: none !important;
		}
	}
	&__mask {
		@include full;
		background-color: $w;
		transform-origin: center bottom;
		transform: scaleY(0) translateZ(0);
		content: '';
		z-index: 3;
	}
	&__content {
		display: block;
		position: relative;
		padding: {
			left: em(15px);
			right: em(15px);
		}
	}
	&__figure {
		position: relative;
		display: block;
		line-height: 0;
		&:after {
			@include full;
			content: '';
			background-color: transparentize($dark-color, .25);
			transition: opacity $speed;
			opacity: 0;
		}
		.search__cell:hover & {
			&:after {
				opacity: 1;
			}
		}
	}
	[class*=__options] [class*=__option], [class*=__select] [class*=__value] {
		font-size: 14px;
	}
	&__title {
		&--name {
			display: block;
			font-size: em(18px);
			font-family: $alternate-font;
			font-weight: 400;
			padding-top: em($p, 18px);
			> span {
				color: $main-color;
				padding: 0 em($p, 18px);
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					height: 1px;
					width: $f;
					background-color: $main-color;
					left: 0;
					top: 50%;
					transform: translate3d(0, -50%, 0) scaleX(0);
					transition: transform $speed;
					position: absolute;
					transform-origin: right center;
				}
				.search__cell:hover & {
					&:after {
						transform: translate3d(0, -50%, 0) scaleX(1);
						transform-origin: left center;
					}
				}
			}
		}
	}
	&__items {
		flex: 10;
		position: relative;
		margin-top: em($p*2);
		transition: opacity $speed*1.5, visibility $speed*1.5, transform $speed*1.5;
		timing-function: ceaser($easeOutBack);
		.scroll-content {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			padding-bottom: em($p*2);
		}
		&--changing {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, $p*4, 0) skewY(0.5deg);
		}
	}
	&__loader {
		transition: max-height $speed, opacity $speed, visibility $speed;
		&--loading {
			max-height: em($p*2);
			opacity: 1;
			visibility: visible;
		}
	}
}