.search {
	width: $f;
	@include normalize_padding;
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	position: relative;
	&__header {
		@include grow('md', 'top');
		@include grow('small', 'bottom');
		text-align: center;
		flex: 0 0 auto;
	}
	&__filters {
		justify-content: center;
		flex: 0 0 auto;
		padding-top: em($p*1.5);
		transform: translate3d(0, $p, 0);
		visibility: hidden;
		transition: visibility $speed, opacity $speed;
		opacity: 0;
		z-index: 1;
		@include breakpoint() {
			margin: 0 em($p*6);
		}
		&--visible {
			opacity: 1;
			visibility: visible;
			transform: translate3d(0, 0, 0);
		}
		@include breakpoint() {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__select {
		width: em(260px);
		margin: 0 em($p);
		@include breakpoint() {
			width: calc(#{$f/4} - #{em($p*2)});
		}
	}
	&__cell {
		@include grow('md');
		position: relative;
		display: block;
		overflow: hidden;
		@include breakpoint() {
			width: $f/5;
		}
		&--found {
			width: $f !important;
			text-align: center;
			span {
				font-size: em(22px);
				color: $dark-color;
			}
		}
		img {
			width: $f;
		}
		transform: translate3d(0, $p*2, 0);
		opacity: 0;
		transition: {
			property: transform, opacity;
			duration: $speed*2.25;
			timing-function: ceaser($easeOutBack);
		}
		.modal--visible & {
			opacity: 1;
			transform: translate3d(0, 0, 0);
			@for $i from 1 through 20 {
				$delay: $speed*1.25 + (.1s * ($i - 1));
				&:nth-child(#{$i}) {
					transition-delay: $delay;
				}
			}
		}
		.modal--visible .search__items--changing & {
			transition: none !important;
		}
	}
	&__mask {
		@include full;
		background-color: $w;
		transform-origin: center bottom;
		transform: scaleY(0) translateZ(0);
		content: '';
		z-index: 3;
	}
	&__content {
		display: block;
		position: relative;
		padding: {
			left: em(15px);
			right: em(15px);
		}
	}
	&__figure {
		position: relative;
		display: block;
		line-height: 0;
		padding-top: percentage(560px/440px);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: $f;
		}
		&:before {
			@include full;
			content: '';
			background-color: transparentize($dark-color, .25);
			transition: opacity $speed;
			opacity: 1;
			z-index: 2;
		}
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: em($p*-1) 0 0 em($p*-1);
			width: em($p*2);
			height: em($p*2);
			visibility: visible;
			opacity: .5;
			display: block;
			background-color: $light-color;
			border-radius: $f;
			animation: pulse 2s infinite ease-in-out;
			content: '';
			transition: $speed visibility, opacity $speed;
			z-index: 3;
		}
		&.lazy-loaded {
			&:before, &:after {
				visibility: hidden;
				opacity: 0;
				transition: $speed visibility, opacity $speed;
			}
			&:before {
				.search__cell:hover & {
					opacity: 1 !important;
					visibility: visible !important;
				}
			}
		}
	}
	[class*=__options] [class*=__option], [class*=__select] [class*=__value] {
		font-size: 14px;
	}
	&__title {
		&--name {
			display: block;
			font-size: em(18px);
			font-family: $alternate-font;
			font-weight: 400;
			padding-top: em($p, 18px);
			text-align: center;
			> span {
				color: $main-color;
				padding: 0 em($p*1.5, 18px);
				position: relative;
				display: inline-block;
				&:before, &:after {
					content: '';
					height: 1px;
					background-color: $main-color;
					top: 50%;
					transform: translate3d(0, -50%, 0) scaleX(0);
					transition: transform $speed;
					position: absolute;
					width: em($p, 18px);
				}
				&:after {
					right: 0;
					transform-origin: left center;
				}
				&:before {
					left: 0;
					transform-origin: right center;
				}
				.search__cell:hover & {
					&:before {
						transform: translate3d(0, -50%, 0) scaleX(1);
						transform-origin: left center;
					}
					&:after {
						transform: translate3d(0, -50%, 0) scaleX(1);
						transform-origin: right center;
					}
				}
			}
		}
	}
	&__items {
		flex: 10;
		position: relative;
		margin-top: em($p*2);
		transition: opacity $speed*1.5, visibility $speed*1.5, transform $speed*1.5;
		timing-function: ceaser($easeOutBack);
		.scroll-content {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			padding-bottom: em($p*2);
		}
		&--changing {
			opacity: 0;
			visibility: hidden;
			transform: translate3d(0, $p*4, 0) skewY(0.5deg);
		}
	}
	&__loader {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 50;
		margin-top: em($p*-1);
		max-height: em($p*2);
		opacity: 1;
		visibility: visible;
		&.ng-hide-add, &.ng-hide-remove {
			display: block;
			transition: opacity $speed, visibility $speed;
		}
		&.ng-hide-add.ng-hide-add-active {
			opacity: 0;
			visibility: visible;
		}
		&.ng-hide-remove.ng-hide-remove-active {
			opacity: 1;
			visibility: visible;
		}
	}
	&__select--filled {
		.icon-select {
			opacity: 1 !important;
		}
	}
	&__sep {
		padding: 0 em($p/2);
	}
	&__result{
		&s {
			font-weight: 300;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: em($p);
		}
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			padding-right: em($p/4);
		}
		strong {
			font-weight: 400;
			color: $dark-color;
			display: inline-flex;
			align-items: center;
			.icon-close {
				width: 14px;
				height: 14px;
				line-height: 14px;
				border-radius: 14px;
				text-align: center;
				position: relative;
				top: 1px;
				background-color: $main-color;
				color: $w;
				font-size: 6px;
				vertical-align: middle;
				margin-left: $p/4;
				transition: background-color $speed;
				&:hover {
					background-color: $dark-color;
				}
			}
		}
	}
}