
%scaled {
	.section__cell--even & {
		transform-origin: left center;
	}	
	.section__cell--odd & {
		transform-origin: right center;
	}
	.section--active & {
		transform: scaleX(1) translateZ(0)
	}
}
%scale {	
	transition: transform $speed*1.25;
	transform: scaleX(0) translateZ(0);
	overflow: hidden;
	@extend %scaled;
	> * {
		transform: scaleX(2) translateZ(0);
		@extend %scaled;
	}
}
.section {
	&--end {
		@include breakpoint() {
			justify-content: flex-end;
		}
	}
	&__cell {
		position: relative;
		&--text {
			z-index: 2;
		}
	}
	&__title {
		&--giant {
			color: $light-color;
			@include breakpoint() {
				width: 120%;
				z-index: 20;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	&__content {
		@include grow('lg');
		position: relative;
		@extend %scale;
	}
	&__text, &__link, &__sign {
		@include grow('md', 'top');
	}
	&__text {
		&--alternate {
			p {
				font-size: em(27px);
			}
		}
	}
	&__figure {
		img {
			width: $f !important;
			height: auto !important;
		}
		&--move {
			&-up {
				@include breakpoint() {
					margin-top: percentage(200px/550px)*-1;
				}
			}
		}
		&-container {
			position: relative;
			@extend %scale;
		}
	}
	// &__mask {
	// 	@include full;
	// 	z-index: 20;
	// 	background-color: $w;
	// 	transition: transform $speed*1.25;
	// 	transform: scaleX(1) translateZ(0);
	// 	[class*="gray"] & {
	// 		background-color: $lighter-color;
	// 	}
	// 	.section__cell--even & {
	// 		transform-origin: left center;
	// 	}
	// 	.section__cell--odd & {
	// 		transform-origin: right center;
	// 	}
	// 	.section__cell--text & {
	// 		transition-delay: $speed/2;
	// 	}
	// 	.section--active & {
	// 		transform: scaleX(0) translateZ(0);
	// 	}
	// }
}