.sheet {
	@include grow();
	&__container {
		@include grow();
	}
	&__title--small-lighter {
		text-align: center;
		padding-bottom: em($p*2, 30px);
	}
	&__item {
		@include breakpoint($bp, false) {
			text-align: center;
		}
		border-bottom: 1px solid $w;
		@include grow('md');
		@include grow('md', 'top');
		&--last {
			border-bottom: 0;
		}
		line-height: 1.2;
		p {
			line-height: 1.2;
			display: flex;
			justify-content: space-between;
			align-items: center;
			img {
				width: em(180px) !important;
				height: auto !important;
				flex: 0 0 auto;
				font-size: 1em !important;
			}
			span {
				width: calc(100% - #{em(200px)});
				flex: 0 0 auto;
			}
			padding-bottom: em($p*2);
			
		}
		.sheet__cell {
			p {
				&:nth-last-child(1) {
					padding-bottom: 0;
				}
			}
		}
	}
	&__table {
		td {
			vertical-align: top;
		}
	}
	&__td {
		padding-right: em($p*2);
		text-transform: uppercase;
		&:before {
			display: inline-block;
			padding-top: em($p);
			width: 0;
			content: '';
			vertical-align: top;
		}
	}
	.is-to-next & {
		transition: opacify $speed;
		opacity: 0 !important;
	}
}