.sheet {
	@include grow('lg');
	&__container {
		@include grow('lg');
	}
	&__title--small-lighter {
		text-align: center;
		padding-bottom: em($p*2, 30px);
	}
	&__item {
		@include breakpoint($bp, false) {
			text-align: center;
		}
		border-bottom: 1px solid $w;
		@include grow('md');
		@include grow('md', 'top');
		&--last {
			border-bottom: 0;
		}
		p {
			line-height: 1;
			display: flex;
			justify-content: space-between;
			img {
				width: em(150px) !important;
				height: auto !important;
				flex: 0 0 auto;
			}
			span {
				width: calc(100% - #{em(120px)});
			}
		}
	}
	&__table {
		td {
			vertical-align: top;
		}
	}
	&__td {
		padding-right: em($p*2);
		text-transform: uppercase;
		&:before {
			display: inline-block;
			padding-top: em($p);
			width: 0;
			content: '';
			vertical-align: top;
		}
	}
}