.store {
	&__form {
		@include grow('md');
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__input, &__options, &__select {
		background-color: $w;
	}
	&__select {
		margin: 0 em($p);
		min-width: em(200px);
	}
	&__input {
		min-width: em(280px, 18px);
	}
}
.map {
	@include grow('lg');
	&__loader {
		transition: $speed visibility, $speed opacity, max-height $speed;
		&--visible {
			visibility: visible;
			opacity: 1;
			max-height: em($p*2);
		}
	}
	&__list, &__empty {
		transition: $speed visibility, $speed opacity;
		&--hidden {
			visibility: hidden;
			opacity: 0;
		}
	}
	&__title {
		color: $alternate-color;
	}
	&__cell {
		position: relative;
		@include breakpoint() {
			height: calc(100vh - #{em(80px)});
			overflow: hidden;
		}
	}
	&__item {
		border-bottom: 1px solid $lighter-color;
		@include grow('md', 'bottom');
		@include grow('md');
	}
	&__content {
		padding-top: em($p);
		p {
			line-height: percentage(27px/18px);
			font-size: em(18px);
		}
		a {
			color: $dark-color;
			&:hover {
				color: $alternate-color;
			}
		}
	}
	&__category {
		padding-bottom: em($p, 14px);
		text-transform: uppercase;
		color: $dark-color;
		font-weight: 200;
		font-size: em(14px);
		letter-spacing: $spacing;
	}
	ng-map {
		@include full;
		height: $f !important;
	}
	#zoom {
		@include normalize_padding;
		right: 0 !important;
		padding-bottom: em($p*2);
	}
	&__zoom {
		display: block;
		width: em(35px);
		height: em(35px);
		border-radius: em(35px);
		margin-top: em($p/2);
		position: relative;
		background-color: $lighter-color;
		transition: $speed background-color;
		font-size: $base_font_size;
		&:before, &:after {
			width: em(15px);
			height: 1px;
			background-color: $main-color;
			content: '';
			position: absolute;
			top: 50%;
			left: em((35px - 15px) / 2);
			transform: translate3d(0, -50%, 0);
		}
		&--in {
			&:after {
				transform: translate3d(0, -50%, 0) rotate(90deg);
			}
		}
		&:hover {
			background-color: $main-color;
			&:before, &:after {
				background-color: $lighter-color;
			}
		}
	}
	&__marker {
		position: absolute;
		text-align: center;
		font-size: $base_font_size;
		font-family: $main-font;
		.map__marker {
			position: relative;
			border-radius: 6px;
			background-color: $lighter-color;
			font-size: 14px;
			text-align: left;
			margin-bottom: em(35px, 14px);
			padding: em(35px, 14px);
			visibility: hidden;
			opacity: 0;
			transition: visibility $speed, opacity $speed;
			width: em(300px, 14px);
			.icon-close {
				position: absolute;
				right: em($p, $p/2);
				top: em($p, $p/2);
				font-size: 10px;
				color: $main-color;
				transition: color $speed;
				&:hover {
					color: $dark-color;
				}
			}
			.icon-select {
				position: absolute;
				color: $w;
				font-size: 6px;
				left: $f/2;
				bottom: 0;
				transform: translate3d(-50%, 100%, 0);
			}
			p {
				padding-top: em($p/2, 14px);
				line-height: 1;
			}
			.map__title {
				font-size: em(18px, 14px);
				font-weight: 300;
			}
			&--active {
				visibility: visible;
				opacity: 1;
				z-index: 999;
			}
		}
		.icon-pittogramma {
			font-size: em(35px);
			color: $lighter-color;
			transition: $speed opacity;
			position: relative;
			z-index: 100;
			&--active {
				opacity: .5;
			}
		}
	}
}