.successes {
	&__title {
		color: $alternate-color;
		text-align: center;
	}
	&__content {
		position: relative;
		@include grow('lg');	
		> * {
			position: relative;
			transition: opacity $speed $speed/2, transform $speed $speed/2;
			.desktop & {
				opacity: 0;
				transform: translate3d(0, $p, 0);
			}
			.desktop .successes__items--active & {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			width: 100vw;
			right: 0;
			height: $f;
			background-color: $lighter-color;
			transition: transform $speed !important;
			[class*="-inverted"] & {
				left: 0;
				right: auto;
			}
			.desktop & {
				opacity: 1 !important;
				transform: scaleX(0) translateZ(0) !important;
				transform-origin: right center;
			}
			.desktop .successes__items--active & {
				transform: scaleX(1) translateZ(0) !important;
			}
		}
		h2, h3, h4, h5 {
			font: {
				weight: 200;
				size: em(30px);
			}
			content: $alternate-color;
			padding-bottom: em($p*2, 30px);
			letter-spacing: $spacing;
		}
		@include breakpoint(1286px) {
			width: $max-width / 2;
			&:before {
				right: calc(((100vw - 1286px) / 2 )* -1)
			}
		}
	}
	&__cell {
		@include grow('lg');
		&--image {
			transition: opacity $speed;
			position: relative;
			min-height: 75vw;
			z-index: 2;
			position: relative;
			@include cover(left bottom, contain);
			img {
				display: none;
			}
			@include breakpoint() {
				min-height: 0;
			}
			[class*="-inverted"] & {
				order: 1;
				background-position: right bottom;
			}
			transition: opacity $speed $speed, transform $speed $speed;
			.desktop & {
				opacity: 0;
				transform: translate3d(0, $p, 0);
			}
			.desktop .successes__items--active & {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
			.successes__contain {
				@include cover($pos: left bottom, $size: contain);
				@include full;
				transition: $speed visibility, opacity $speed;
				&--hover {
					visibility: hidden;
					opacity: 0;
				}
			}
			&:hover {
				.desktop & {
					.successes__contain {
						visibility: hidden;
						opacity: 0;
						&--hover {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
		&--content {
			[class*="-inverted"] & {
				order: 0;
			}
		}
	}
	&__sign {
		@include grow('lg', 'top');
		span {
			font-size: em(14px);
		}	
		transition: opacity $speed $speed/2, transform $speed $speed/2;
		.desktop & {
			opacity: 0;
			transform: translate3d(0, $p, 0);
		}
		.desktop .successes__items--active & {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}