%move_title {
	top: $p;
	position: relative;
	z-index: 5;
}
%videoSize {
	position: absolute;
	top: 50%;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	transform: translate3d(-50%, -50%, 0);
}
.video {
	@include grow('lg');
	overflow: hidden;
	position: relative;
	&--dark {
		color: $w;
		background-color: $dark-color;
		// transition: background-color $speed;
		// .main--dark & {
		// 	background-color: transparent;
		// }
	}
	&__header {
		@extend %move_title;
	}
	&__container {
		position: relative;
		z-index: 1;
		height: calc(85vh - #{em($p*6)});
		overflow: hidden;
		background: {
			size: cover;
			repeat: no-repeat;
			position: center;
		}
		.admin-bar.logged-in & {
			height: calc(85vh - 32px - #{em($p*6)});
		}
		.desktop & {
			&:before, &:after {
				width: 50%;
				height: $f;
				position: absolute;
				content: '';
				transition: transform $speed*2.25;
				background-color: $w;
				z-index: 5000;
				top: 0;
			}
			&:before {
				left: 0;
				transform-origin: left center;
			}
			&:after {
				left: 50%;
				transform-origin: right center;
			}
		}
		.desktop .video--dark & {
			&:before, &:after {
				background-color: $dark-color;
			}
		}
		.desktop .video--active & {
			&:before, &:after {
				transform: scaleX(0) translateZ(0);
			}
		}
		canvas {
			@extend %videoSize;
		}
		.icon-play {
			.handheld & {
				@extend %play;
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transition: opacity $speed;
					width: em($p, 32px);
					height: em($p*2, 32px);
					margin: {
						left: em($p/2, 32px)*-1;
						top: em($p, 32px)*-1;
					}
					border: {
						left: 1px solid $w;
						right: 1px solid $w;
					}
					opacity: 0;
				}
				&:before {
					display: inline-block;
					transition: opacity $speed;
				}
				&.playing {
					&:after {
						opacity: 1;
					}
					&:before {
						opacity: 0;
					}
				}
			}
		}
	}
	&__item {
		@extend %videoSize;
		.handheld & {
			visibility: hidden;
		}
	}
	&__footer {
		text-align: right;
		@include grow('small', 'top');
	}
	&__send {	
		.video--dark & {
			color: $w;
			&:before, &:after {
				background-color: $lighter-color;
			}
			&:hover {
				color: $w;
			}
		}
		margin-right: em(30px)*-1;
	}
}

.main-video {
	position: fixed;
	top: em($p*4);
	left: em($p*4);
	right: em($p*4);
	bottom: em($p*4);
	background-color: $b;
	color: $w;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	transition: {
		property: top, left, bottom, right, visibility, opacity;
		duration: $speed/2;
	}
	&--open {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		visibility: visible;
		opacity: 1;
		transition: top $speed $speed/2, left $speed $speed/2, right $speed $speed/2, bottom $speed $speed/2, visibility $speed, opacity $speed;
		.logged-in.admin-bar & {
			top: 32px;
		}
	}
	iframe {
		@include full;
	}
	&:after {
		@include full;
		content: '';
		z-index: 9996;
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9997;
		@include grow('md', 'top');
		@extend %icon_btn;
	}
	&__close-sign {
		@extend %burger;
	}
	&__label {
		padding-right: em($p);
	}
	&__line {
		@extend %open_close;
		@extend %open_close_center;
		&:before {
			transform: rotate(45deg) translateZ(0);
		}
		&:after {
			transform: rotate(-45deg) translateZ(0);
		}
		.modal__close:hover & {
			&:after {
				transform: rotate(45deg) translateZ(0);
			}
			&:before {
				transform: rotate(-45deg) translateZ(0);
			}
		}
	}
	&__controls {
		position: absolute;
		bottom: em($p*2);
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		max-width: em(904px);
		width: $f*0.9;
		z-index: 9997;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__play-pause {
		width: 14px;
		height: 16px;
		position: relative;
		.icon-play, .icon-pause {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 16px;
			color: $w;
			transition: {
				duration: $speed;
				property: visibility, opacity;
			}
		}
		.icon-play {
			visibility: hidden;
			opacity: 0;
		}
		&--paused {
			.icon-play {
				visibility: visible;
				opacity: 1;
			}
			.icon-pause {
				visibility: hidden;
				opacity: 0;
			}
		}
	}
	&__status {
		flex: 3;
		height: 4px;
		position: relative;
		background-color: transparentize($w, .9);
	}
	&__time {
		font-size: 14px;
		padding: em($p, 14px);
	}
	&__buffer {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		bottom: 0;
		background-color: transparentize($w, .9);
	}
	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		bottom: 0;
		background-color: $w;
	}
	&__volume {
		display: flex;
		justify-content: space-between;
		width: 13px;
		height: 16px;
		span {
			position: relative;
			&:before {
				position: absolute;
				width: 1px;
				height: $f;
				top: 0;
				left: 50%;
				background-color: $w;
				content: '';
			}
			opacity: 0.5;
			width: $f/3;
			transform-origin: center bottom;
			transition: opacity $speed;
			&:nth-child(1) {
				transform: scaleY(0.5);
			}
			&:nth-child(2) {
				transform: scaleY(0.75);
			}
			&.active {
				opacity: 1;
			}
		}
	}
}