%open_close {
	height: 1px;
	background-color: $light-color;
	transition: opacity $speed, transform $speed, background-color $speed;
	display: inline-block;
}

%open_close_center {
	margin: em(5px) 0;
	position: relative;
	background-color: transparent;
	&:before, &:after {
		@include full;
		content: '';
		background-color: $light-color;
		transition: transform $speed, background-color $speed;
	}
}

%burger {
	width: em($p + 5px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

%icon_btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: $speed color;
	.menu-opened &, .white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
		color: $main-color;
	}
}

%tools {
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
}

%menu_open {
	@include breakpoint() {
		width: $f/2;
	}
}

%menu_move {
	opacity: 0;
	transform: translate3d(0, 50px, 0);
}

%play {
	position: absolute;
	top: 50%;
	border-radius: $f;
	left: 50%;
	font-size: 32px;
	margin: em($p*-2, 32px) 0 0 em($p*-2, 32px);
	width: em($p*4, 32px);
	height: em($p*4, 32px);
	line-height: em($p*4, 32px);
	text-align: center;
	background-color: transparentize($w, .6);
	transition: background-color $speed, visibility $speed, opacity $speed;
	color: $w;
	&:before {
		display: inline-block;
		transform: translate3d(10%, 0, 0);
	}
	&:hover {
		color: $w;
		background-color: transparentize($w, .4);
	}
}

%active {
	color: $dark-color;
	// &:before {
	// 	transform: scaleX(1) translateZ(0);
	// }
	&:before {
		transform: translate3d(0, -50%, 0) scaleX(1);
		transform-origin: left center;
	}
	&:after {
		transform: translate3d(0, -50%, 0) scaleX(1);
		transform-origin: right center;
	}
}

.banner {
	transition: visibility $speed, opacity $speed;
	&.video-opened {
		visibility: hidden;
		opacity: 0;
	}
	&:before {
		width: 100vw;
		top: 0;
		right: 0;
		z-index: 9993;
		background-color: $w;
		content: '';
		position: fixed;
		opacity: 0;
		visibility: hidden;
		height: em(80px);
		.admin-bar.logged-in & {
			margin-top: 32px;
		}
		transition: {
			property: opacity, visibility;
			duration: $speed;
		}
	}
	.white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
		&:before {
			opacity: 1;
			visibility: visible
		}
	}
	&__aside {
		color: $alternate-color;
		flex-direction: column;
		display: none;
		background: linear-gradient(20deg, $dark-color, #0b1e2d, $dark-color);
		transform: translate3d(-100%, 0, 0);
		@extend %menu_open;
		@include breakpoint() {
			display: flex;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@extend %menu_move;
		p {
			font-size: 11px;
			line-height: 1.2;
		}
		@include grow('md');
		.banner__cell:nth-child(2) {
			text-align: right;
			line-height: 0;
			a {
				color: $alternate-color;
				&:hover {
					color: #d1d3d4;
				}
			}
		}
	}
	&__brand {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
		top: em($p);
		@include normalize_padding;
		transition: $speed opacity;
		svg {
			transition: visibility $speed, opacity $speed;
			height: em($p*2);
			width: em(93px);
			path {
				transition: fill $speed;
				.opened &, .white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
					fill: $dark-color !important;
				}
				.menu-opened &, body:not(.home):not(.single-lampade):not(.tax-collezioni) .menu-opened & {
					fill: $dark-color !important;
					@include breakpoint() {
						fill: $w !important;
					}	
				}
			}
			.is-anim & {
				visibility: hidden;
				opacity: 0;
			}
		}
		.logged-in.admin-bar & {
			top: calc(#{em($p)} + 32px);
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: em($p*2);
			height: em($p*2);
			margin: {
				top: em($p*-1);
				left: em($p*-1);
			}
			border-radius: em($p*2);
			display: block;
			background-color: $lighter-color;
			border-radius: $f;
			transition: opacity $speed, visibility $speed;
			visibility: hidden;
			opacity: 0;
			.white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) &, .opened & {
				background-color: $light-color;
			}	
			.menu-opened & {
				background-color: $light-color;
				@include breakpoint() {
					background-color: $w;
				}	
			}
			.is-anim & {
				visibility: visible;
				opacity: .5;	
				animation: pulse 2s infinite ease-in-out;
			}
		}
		&:before {	
			.is-anim & {
				animation-delay: -1s;
			}
		}
		&:hover {
			opacity: .5;
		}
	}
	&__tools {
		@extend %tools;
		@include grow('md', 'top');
		z-index: 9994;
		position: fixed;
		.logged-in.admin-bar & {
			top: 32px;
		}
		transition: opacity $speed/2 $speed, visibility $speed/2 $speed; 
		.menu-opened &, .opened &, .is-anim & {
			visibility: hidden;
			opacity: 0;
			transition-delay: 0;
		}
	}
	&__btn {
		@extend %icon_btn;
		color: $light-color;
		margin-left: em($p);
		position: relative;
		@include grow('md', 'top');
		&--search {
			display: none;
			i {
				transition: transform $speed;
				transform: scale(1) translateZ(0);
			}
			&:hover {
				i {
					transform: scale(0.9) translateZ(0);
				}
			}
			@include breakpoint() {
				display: flex;
			}
		}
		&--close {
			opacity: 0;
			&:hover {
				.banner__line--center {
					&:after, &:before {
						transform: rotate(0deg) translateZ(0) scaleX(0.75);
					}
					// &:before {
					// 	transform: rotate(45deg) translateZ(0) scaleX(0.75);
					// }
				}
			}
		}
	}
	&__line {
		@extend %open_close;	
		.white &, body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
			background-color: $main-color;
		}
		&--top {
			.banner__btn:hover & {
				transform: scaleX(0.75) translateZ(0);
			}
			.menu-opened & {
				opacity: 0;
				transform: traslate3d(0, $f*-1, 0);
			}
		}
		&--bottom {
			.banner__btn:hover & {
				transform: scaleX(0.75) translateZ(0);
			}
			.menu-opened & {
				opacity: 0;
				transform: traslate3d(0, $f, 0);
			}
		}
		&--center {
			@extend %open_close_center;			
			.white &, body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
				background-color: transparent;
			}
			&:before, &:after {		
				.menu-opened &, .white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
					background-color: $main-color;
				}
			}
			&:before {
				.banner__btn--close & {
					transform: rotate(45deg) translateZ(0);
				}
			}
			&:after {
				.banner__btn--close & {
					transform: rotate(-45deg) translateZ(0);
				}
			}
		}
	}
	&__burger {
		@extend %burger;
	}
	&__label {
		display: inline-block;
		padding-right: em($p);
	}
	&__quote {
		flex: 20;
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		position: relative;
		top: em($p*2.5);
		@extend %menu_move;
		p {
			color: #d1d3d4;
			width: $f;
			font-size: em(30px);
			line-height: percentage(38px/30px);
			font-family: $alternate-font;
			text-align: center;
		}
		em {
			font-style: normal;
			font-size: em($p);
			padding-top: 2em;
			padding-bottom: em($p*2.5, $p);
		}
		a {
			color: $alternate-color;
			font-size: $base_font_size;
			&:hover {
				color: #d1d3d4;
			}
		}
	}
	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		visibility: hidden;
		z-index: 9995;
		.logged-in.admin-bar & {
			top: 32px;
		}
		.banner__btn--close {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			opacity: 0;
		}
	}
	&__lang {
		position: absolute;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity $speed, ;
		@include grow('md');
		.menu-opened & {
			opacity: 1;
			&:hover {
				opacity: .5;
			}
		}
		&:hover {
			opacity: .5;
		}
	}
	&__menu {		
		transform: translate3d(100%, 0, 0);
		position: relative;
		@extend %menu_open;
		background: $w;
		align-items: center;
		max-height: 100vh;
		.handheld & {
			//display: block !important;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			height: 100vh;
		}
		.ios & {
			padding-bottom: calc(#{em($p*2)} + 50px);
		}
		.admin-bar.logged-in & {
			max-height: calc(100vh - 32px);
		}
		.scroll-content, .handheld & {
			margin: auto;
			padding: {
				top: em($p*4);
				bottom: em($p*4);
			}
		}
	}
}

.menu {
	align-items: center;
	align-content: center;
	.handheld & {
		margin: auto;
		padding: {
			top: em($p*2);
			bottom: em($p*2);
		}
	}
	&__item {
		width: $f;
		text-align: center;
		@include breakpoint() {
			width: $f/2;
			text-align: left;
		}
		@extend %menu_move;
		@include normalize_padding;
		&--projects {
			a {
				.single-progetti & {
					@extend %active;
				}
			}
		}
		&--installations {
			a {
				.single-installazioni & {
					@extend %active;
				}
			}
		}
		&--glossary {
			a {
				.tax-glossary-cat & {
					@extend %active;
				}
			}
		}
		&--magazine {
			a {
				.single-post & {
					@extend %active;
				}
			}
		}
	}
	&__link {
		font-size: em(30px);
		font-weight: 200;
		color: $alternate-color;
		line-height: percentage(42px/32px);
		display: inline-block;
		padding: {
			left: em($p*1.5, 30px);
			right: em($p*1.5, 30px);
		}
		position: relative;
		// &:before {
		// 	content: '';
		// 	height: 2px;
		// 	background-color: $dark-color;
		// 	width: $f;
		// 	top: 50%;
		// 	margin-top: -1px;
		// 	transition: $speed transform;
		// 	transform: scaleX(0) translateZ(0);
		// 	position: absolute;
		// 	left: 0;
		// }
		&:before, &:after {
			content: '';
			height: 1px;
			background-color: $dark-color;
			top: 50%;
			transform: translate3d(0, -50%, 0) scaleX(0);
			transition: transform $speed;
			position: absolute;
			width: em($p, 30px);
		}
		&:after {
			right: 0;
			transform-origin: left center;
		}
		&:before {
			left: 0;
			transform-origin: right center;
		}
		&:hover, .menu__item--active &, &.menu__link--active {
			@extend %active;
		}
	}
}

.breadcrumbs {
	display: none;
	//position: absolute;
	@extend .banner__tools--grow-md-top;
	@include breakpoint() {
		position: fixed;
		display: block;
		font-weight: 200;
		top: 0;
		left: 50%;
		transform: translate3d(-50%, 0%, 0);
		line-height: 1;
		z-index: 9993;
		opacity: 1;
		transition: transform $speed, opacity $speed, visibility $speed;
		color: $light-color;
		.is-anim & {
			transform: translate3d(-50%, $p*-2, 0);
			opacity: 0;
		}
		.admin-bar.logged-in & {
			top: 32px;
		}
		.menu-opened &, .opened & {
			visibility: hidden;
			opacity: 0;
		}
		.home & {
			display: none;
		}
		.white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
			color: $main-color;
		}
		a {
			color: $w !important;
			transition: $speed opacity;
			&:hover {
				opacity: .5;
			}
			.white &,  body:not(.home):not(.single-lampade):not(.tax-collezioni) & {
				color: $dark-color !important;
			}
		}
	}
}

.header {
	text-align: center;
	position: relative;
	@include grow('md', 'bottom');
	@include grow('lg', 'bottom');
	&--bg {
		display: flex;
		align-items: flex-end;
		min-height: 100vh;
		background-color: $main-color;
		@include cover;
		.admin-bar.logged-in & {
			min-height: calc(100vh - 32px);
		}
		// &-post {
		// 	min-height: 75vh;
		// 	.admin-bar.logged-in & {
		// 		min-height: 75vh;
		// 	}
		// }
		color: $w;
		padding-top: em(90px);
		.header__title {
			width: $f;
			position: relative;
			font-family: $alternate-font;
			margin: auto 0 0;
			&:not(.header__title--noscroller) {
				&:after {
					width: 2px;
					height: em(100px, 34px);
					position: absolute;
					top: $f;
					left: 50%;
					transform: translate3d(-50%, 0, 0);
					background-color: $lighter-color;
					content: '';
					animation: scroll $speed*3 $speed infinite;
					.ios & {
						height: calc(#{em(100px, 34px)} + 50px);
					}
				}
			}
			.ios & {
				margin-bottom: 50px;
			}
			transition: $speed transform, $speed opacity;
			transform: translate3d(0, 0, 0);
			opacity: 1;
			.is-anim & {
				transform: translate3d(0, $p*2, 0);
				opacity: 0;
			}
		}
	}
	&--white {
		padding-top: em(120px);
	}
	.icon-play {
		@extend %play;	
		visibility: hidden;
		opacity: 0;	
		&.ready {
			visibility: visible;
			opacity: 1;
		}
	}
}

.ie-alert {
	position: fixed;
	width: $f;
	text-align: center;
	color: $w;
	background: red;
	padding: 20px;
	line-height: 1.25;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999999999;
}

@keyframes scroll {
	0% {
		transform: translate3d(-50%, 0, 0) scaleY(1);
		transform-origin: center bottom;
	}
	49% {
		transform-origin: center bottom;
		transform: translate3d(-50%, 0, 0) scaleY(0);
	}
	51% {
		transform-origin: center top;
		transform: translate3d(-50%, 0, 0) scaleY(0);
	}
	100% {
		transform-origin: center top;
		transform: translate3d(-50%, 0, 0) scaleY(1);
	}
}