.main {
	min-height: 100vh;
	position: relative;
	background-color: $w;
	.admin-bar.logged-in & {
		min-height: calc(100vh - 32px);
	}
	&:before {
		@include full;
		content: '';
		background: $dark-color;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: opacity $speed, visibility $speed;
	}
	&--dark {
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
	&__container {
		position: relative;
	}
	body:not(.single-post) & {
		overflow: hidden;
	}
}