.main {
	min-height: 100vh;
	position: relative;
	background-color: $w;
	.admin-bar.logged-in & {
		min-height: calc(100vh - 32px);
	}
	&:before {
		@include full;
		content: '';
		background: $dark-color;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
	}
	&__container {
		position: relative;
		z-index: 1;
	}
}