@font-face {
  font-family: "catellani-icons";
  src: url('../fonts/catellani-icons.eot');
  src: url('../fonts/catellani-icons.eot?#iefix') format('eot'),
    url('../fonts/catellani-icons.woff2') format('woff2'),
    url('../fonts/catellani-icons.woff') format('woff'),
    url('../fonts/catellani-icons.ttf') format('truetype'),
    url('../fonts/catellani-icons.svg#catellani-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*=" icon"] {
  display: inline-block;
  font-family: "catellani-icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-download:before { content: "\EA01" }
.icon-arrow:before { content: "\EA02" }
.icon-close:before { content: "\EA03" }
.icon-credits:before { content: "\EA04" }
.icon-facebook:before { content: "\EA05" }
.icon-instagram:before { content: "\EA06" }
.icon-lang:before { content: "\EA07" }
.icon-pause:before { content: "\EA08" }
.icon-pinterest:before { content: "\EA09" }
.icon-pittogramma:before { content: "\EA0A" }
.icon-play:before { content: "\EA0B" }
.icon-search:before { content: "\EA0C" }
.icon-select:before { content: "\EA0D" }
.icon-twitter:before { content: "\EA0E" }
.icon-youtube:before { content: "\EA0F" }